# Misc
slurm.logs/
misc/
core.*
hs_*.log

# Data
fastq/
public.data/

# Results
results/
old.results
*.html
notebooks/*.md
notebooks/*_files/

# Hidden files
.domaincaller/
.DS_Store
._*

# nextflow stuff
sample.configs/template.distiller.yml
reference.files/genome.reference/
distiller-nf/
pipeline_info
.nextflow*
work*

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

reference.files/hg38_100000_goldenpathData
reference.files/functionsdchic_1.0.tar.gz
reference.files/hashmap_0.2.2.tar.gz
