# Misc
slurm.logs/
misc/
core.*
hs_*.log
NDV.misc
.Rprofile

# Data
fastq/

# Results
results/
*.html
notebooks/*.md
notebooks/*_files/
notebooks/*_cache/

# Hidden files
.domaincaller/
.DS_Store
# ._*

# nextflow stuff
sample.configs/template.distiller.yml
reference.files/genome.reference/
distiller-nf/
pipeline_info
.nextflow*
work*

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Annotation files
reference.files/genome.bins
reference.files/genome.tracks
reference.files/packages/
public.data/PMID_30545851
public.data/PMID_37090552/Gluta_GSE228118/GSE228118_Gluta_HiC_merged_loops.bed12
public.data/PMID_37090552/Gluta_GSE228118
public.data/PMID_37090552
/dependencies.files/packages
/GRCh38.Reference
/reference.files/raw.FGE.data
/reference.files/homo_sapiens_GRCh38_92.gene_annotations.strand.info.txt
/reference.files/regional_gene_cor.tar.gz
