# Misc
slurm.logs/
misc/
core.*
hs_*.log
NDV.misc
.Rprofile

# Data
fastq/
public.data/

# Results
results/
*.html
notebooks/*.md
notebooks/*_files/
notebooks/*_cache/

# Hidden files
.domaincaller/
.DS_Store
._*

# nextflow stuff
sample.configs/template.distiller.yml
reference.files/genome.reference/
distiller-nf/
pipeline_info
.nextflow*
work*

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Annotation files
reference.files/gencode.v38.annotation.gtf.gz
reference.files/gene.constraints.CNVR.tsv
reference.files/CTCF.annotations.tsv
reference.files/ENCODE.v4.cCRE.anontations.tsv
reference.files/hg38.segdups.bed.gz
reference.files/hg38.segdups.bed.gz.tbi
reference.files/hg38_gene_deserts.tsv
reference.files/genome.bins
reference.files/genome.tracks
reference.files/packages/
